/**
#F8ECD1
#DEB6AB
#AC7D88
#85586F
*/
@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

.coloresGenerales{
background-color: #FCF8E8;

}


html{
    font-size: 62.5%;
    /** 10px=1rem */
}

header{
    text-align: left;
    width: auto;
    margin: 0px auto;
    color: #F8ECD1;
    background-color:#F8ECD1 ;
    grid-area: header;
}

ul{
    list-style: none;
}
li{
    display:inline-block;
    font-size: 3rem;
}
h1{
    font-family: 'Mingzat', sans-serif;
    color: #AC7D88;
    text-align: center;
            

}

a{
    text-decoration: none;
    padding: 20px;
    color: 85586F;

}

.redes{ 
    display: flex;
    justify-content: end;
}

  
footer{
    width: auto;
    background-color: #85586F;
    grid-area: footer;
}




.footer1{
    background-color: #AC7D88;
    border-radius: 50px;
    font-family:'Courier New', Courier, monospace;
}


/** HTML CONTACTO*/

.c-c{
        font-family: 'Mingzat', sans-serif;
        color: #AC7D88;
        text-align: center;
        font-size: 2rem;    
        text-align: left;
    }


.gridContacto{
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "i1"
    "i2"
    "i3"
    "i4"
    "i5"
    "i6"
    "i7"
}

.listaRedes{
    flex-direction:row;

}


/** HTML SERVICIOS*/



.c-s{
    font-size: 2rem;
    font-family: 'Mingzat', sans-serif;
    color: #AC7D88;
    text-align: center;
}
.gridServicios{
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "s1"
    "s2"
    "s3"
    "s4"
    "s5"

}
.nuestrosServicios{
    font-size: 2rem;
    font-family: 'Mingzat', sans-serif;
    background-color: #F0EBE3;
    text-align: center;
}

/** Nosotros HTML**/



.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.imgnosotros{
    width: 120rem;
    height: 8rem;
}
.nosotros1{
    background-color: #FCF8E8;
    text-align: center;
}
.contenedorNosotros{
    text-align: center;
    font-family: 'Mingzat', sans-serif;
    color: #AC7D88;


}
.n-nn4:hover{
    transition: all 2s;
    transform: scale(1.5);

}

.n-nn2:hover{
    transition: all 2s;
    transform: scale(1.5);

}
.n-nn4{
grid-area:n-nn4;
font-size: 5rem;
}
.n-nn1{
    grid-area:n-nn1;
    font-size: 5rem;
}

.n-nn2{
    text-align: center;
    grid-area:n-nn2;
    width: 80rem;
    height: 80rem;
}
.n-nn2:hover{
    -webkit-transform: rotate (360deg);
    transition: 2s ease-in-out;
}
.n-nn3{
    font-size: 5rem;
    font-family: 'Mingzat', sans-serif;
    color: #AC7D88;
    text-align: center;
    grid-area:n-nn3;
}

.contenedorNosotros{
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas:
    "n-nn4"
    "n-nn1"
    "n-nn2"
    "n-nn3"

}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-21 18:24:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  

/** Propiedadees del index**/

.container-grid{
    text-align: center;
}
.colornavbar{
background-color: #AC7D88;

}

.c-hl3{
    font-size: 5rem;
    grid-area: c-hl3;
    text-align: center;
} 

.c-hl2{
    grid-area: c-hl2;
    text-align: center;
}

.c-hl4{
    font-size: 5rem;
}

.mainIndex{
    width: 100%;
    margin: 0px auto;
}
.containerIndex{
    width: 100%;
}

.c-hl2{
    font-size: 5rem;
}
 
.l2{
    font-size: 5rem;
    display: flex;
    text-align: center;
    padding: 2rem;
}

.ch127{
width: 100%;
text-align: center;
}


/** Acá voy a codear el HTML de Proyecto**/

.container{
    text-align: center;
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    grid-template-areas:
    "cgc4"
    "cgc1"
    "cgc3"
    "cgc2"
    "cgc5"
    ;
   
}

/** prueba*/

.pbc2{
    width:90rem;
    height: 60rem;
}
.pbc1{
    width:90rem;
    height: 60rem;
}


/** esta es la clase general**/

.cgc1{
    grid-area: cgc1;
    background-color: #231955;
    width: 100%;
    height: auto;
}

.cgc2{
    grid-area: cgc2;
    background-color: #F0EBE3;
    width: 100%;
    height: auto;
}

.cgc3{
    font-size: 5rem;
    grid-area: cgc3;
    background-color:#F0EBE3;
}
.cgc4{
    font-size: 5rem;
    grid-area: cgc4;
    background-color: #F0EBE3;
}
.c5{
    grid-area: cgc5;
    background-color: #937DC2;
}
/*Media query*/


@media (max-width: 992px){

    .n-nn2{
        width: 70rem;
    }

    .pbc2{
        width:50rem;
        height: 30rem;
    }
    .pbc1{
        width:50rem;
        height: 20rem;
    }
    
    .css2{
        width: 99.2rem;
        height: auto;
    }
    .css3{
        width: 99.2rem;
        height: auto;
    }
    .css5{
        width: 99.2rem;
        height: auto;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-template-areas:
        "cgc4"
        "cgc1"
        "cgc3"
        "cgc2"
        "cgc5"
        ;
    }
    .imagenIndex{
        width: 992px;
        height: 100%;
    }
    .c1 {
        height: auto;
    }
    
    .c2 {
        height: auto;
    }
    
    .ch127 {
        width: 70rem;
        grid-area: ch127;
    }
}

@media (max-width: 576px){
    

    .imgnosotros{
        width: 2rem;
        height: 2rem;
    }

    .n-nn2{
        width: 36rem;
    }
    .pbc2{
        width:30rem;
        height: 15rem;
    }
    .pbc1{
        width:30rem;  
        height: 15rem;
    }
    .ch127 {
        width: 45rem;   
        
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-template-areas:
        "cgc4"
        "cgc1"
        "cgc3"
        "cgc2"
        "cgc5"
        ;
    }
    .c1{
        height: auto;
    }
    .c2{
        height: auto;
    }
    
    .css2{
        width: 57.6rem;
        height: auto;
    }
    .css3{
        width: 57.6rem;
        height: auto;
    }
    .css5{
        width: 57.6rem;
        height: auto;
    }
  
}