@media (max-width: 1100px){
        .gridServicios{
            padding-left: 1rem;
            text-align: center;
            .csss1{
                width: 100rem;
                height: auto;
            }
            .csss2{
                width: 100rem;
                height: auto;
            }
            .csss3{
                width: 100rem;
                height: auto;
            }
            .csss4{
                width: 100rem;
                height: auto;
            }
    
            
        }
        }
    
    
    
    @media (max-width: 992px){
    .gridServicios{
        padding-left: 1rem;
        text-align: center;
        .csss1{
            width: 70rem;
            height: auto;
        }
        .csss2{
            width: 70rem;
            height: auto;
        }
        .csss3{
            width: 70rem;
            height: auto;
        }
        .csss4{
            width: 70rem;
            height: auto;
        }

        
    }
    .n-nn2box2{
        padding: 2rem;
        width: 70rem;
        height: auto;
        }
    }

    
    @media (max-width: 700px){
        .n-nn2box2{
        padding: 2rem;
        width: 55rem;
        height: auto;
        }
        .c-ss1{
            padding-left: 0; 
            .csss1{
                width: 50rem;
                height: auto;
            }
            }
        .c-ss2{    
            padding-left: 0;
            .csss2{
                width: 50rem;
                height: auto;
            }
        }
        .c-ss3{
            padding-left: 0;
            .csss3{
                width: 50rem;
                height: auto;
            }
        }
        .c-ss4{ 
            padding-left: 0;
            .csss4{
                    width: 50rem;
                    height: auto;
                }
        }
    }
    .n-nn2box2
    {
        padding: 2rem;
        width: 70rem;
        height: auto;
        
    }
    

@media (max-width: 576px){
    .n-nn2box2{
    padding: 2rem;
    width: 40rem;
    height: auto;
    }
    .csss1{
        width: 20rem;
        height: auto;

    }
    .csss2{
        
    }
    .csss3{
        
    }
    .csss4{
        
    }

}

@media (max-width: 400px){
    .n-nn2box2{
    padding: 2rem;
    width: 20rem;
    height: auto;
    }
    .csss1{

    }
    .csss2{
        
    }
    .csss3{
        
    }
    .csss4{
        
    }

}