.bodyServicios{
    background-color:$clr-crema1;
}

.p{
    font-family: $ff-main;
    font-size: 7rem;
}
.nuestrosServicios{
    font-family: $ff-main;
    font-size: 5rem;   
    text-align: center;
}

.gridServicios{
    text-align: center;
    .c-ss1{ 
        
        padding: 2rem;
        font-family: $ff-main;
        text-align: center;
        font-size: 4rem;
    }
    .c-ss2{
        padding: 2rem;
        font-family: $ff-main;
        text-align: center;
        font-size: 4rem;
        }
    }
    .c-ss3{
        padding: 2rem;
        font-family: $ff-main;
        text-align: center;
        font-size: 4rem;
        }

    .c-ss4{
        padding: 2rem;
        font-family: $ff-main;
        text-align: center;
        font-size: 4rem;
        }
 