.carrusel1{
    padding-top: 4rem;
    padding-bottom: 4rem;
    .h1{
        font-family: $ff-main;
        font-size: 2rem;
        display: flex;
        text-align: center;
        @extend .carrusel1;

    }
}
.carrusel2{
    @extend .carrusel1

}
