.coloresGenerales{
    background: $clr-crema1;
    font-family: $ff-main;

    .contenedorContacto{ 
        background: $clr-crema1;
        font-family: $ff-headings;
        font-size: 2.5rem;
        text-align: center;
        .gridContacto{
            width: 100%;
            margin: 0px auto;
            display: grid;
        }

    }   
}

footer{
    padding-top: 2rem;
}
    