.bodyHome{
    background: linear-gradient(90deg, rgba(240,235,227,1) 0%, rgba(228,220,207,1) 100%);

}

.gridGeneral{   
        .container-grid{
                text-align: center;
            .c-hl4{
                font-size: 3rem;
                text-align: center;
                padding: 1rem;
            }
            .c-hl3{
                font-size: 2rem;
                text-align: justify;
            }
            .ch127{
                display: block;
                text-align: center;
                width: 100%;
                height: 120rem;
            }
            .c-hl2{
                font-size: 3rem;
                text-align: center;
            }
        } 
        
    } 