

body{
    background-color: $clr-violetaoscuro;
    font-family: $ff-main;

        header{
            background-color: $clr-violetaoscuro;
        }



    .contenedorNosotros{

        .hqs{
            font-size: 5rem;
        }
        .n-nn2box2{
            padding: 2rem;
        }
        font-size: 3rem;
        background-color: $clr-crema1;   
        text-align: center;
            .nn-4box1{
                font-family: $ff-main;
               
            }
            .n-nn3{
                font-size: 3rem;
                font-family: $ff-headings;
                text-align: center justify;
                display: block;
                padding-bottom: 5rem;
            }
            .n-nn2box2{
                padding-top: 2rem;
            }
    }

}
