
.coloresGenerales{
    .hproyectos{
        padding: 2rem;
        text-align: center;
        .p1{
            font-size: 3rem;
        }
    }
}
.carrusel2{
    text-align: center;
    padding: 2rem;
    .carousel-control-prev{
        .carousel-control-prev-icon, .carousel-control-next-icon {
            filter: invert(108%);
          }
    }
    
    
    .p1{
        font-size: 3rem;
    }

    
}

