.carrusel1{
    text-align: center;
    .h1{
        font-family: $ff-main;
        font-size: 2rem;
        text-align: center;
        @extend .carrusel1;

    }
}
.carrusel2{
    @extend .carrusel1

}
