.bodyServicios{
    background:$clr-crema1;
}

.p{
    font-family: $ff-main;
    font-size: 7rem;
}
.nuestrosServicios{
    font-family: $ff-main;
    font-size: 5rem;   
    text-align: center;
}

.gridServicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "foto1" "foto2"
    "foto3" "foto4"
    ;
    text-align: center;
        .c-ss1{ 
            @include centersize;
            .csss1{
            grid-area: foto1;
            }
        }
        .c-ss2{
            @include centersize;
                .csss2{
                    grid-area: foto2;
                    }
            }
        }
        .c-ss3{
            @include centersize;
                .csss3{
                    grid-area: foto3;
                    }
        }

        .c-ss4{
            @include centersize;
                .csss4{
                grid-area: foto4;
                }
            }
 